target/
node_modules/
.pnp.cjs
.pnp.loader.mjs
.yarn/cache/
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/unplugged/
.env
.env.local
*.log
.DS_Store
dist/
.svelte-kit/
data/
*.db
*.db-shm
*.db-wal
